#find-more {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 5% 10%;
    margin: 10vh 10% 15vh;
    padding: 0 5%;
    background: getColor(dark-violet) url("../images/bg-pattern-how-we-work-desktop.svg") no-repeat right;
    color: white;

    h2 {
        flex: 1 0 60%;
        margin-top: 20px;
    }
    .nav-item {
        margin-bottom: 20px;
    }
}